<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>491197556139-mk3t8pnj05106lmqs2sra54pqpb57364.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.491197556139-mk3t8pnj05106lmqs2sra54pqpb57364</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>491197556139-nlce5rht713mtm4oacqnvl2mdbcbcfbo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDXnz79F2Nwlt_YmPVOT2blwBZ68Ub76I0</string>
	<key>GCM_SENDER_ID</key>
	<string>491197556139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fastpark.constantaparking</string>
	<key>PROJECT_ID</key>
	<string>constantaparking</string>
	<key>STORAGE_BUCKET</key>
	<string>constantaparking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:491197556139:ios:64f4aa95a479b91e1f1eee</string>
</dict>
</plist>